<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>David Ignacio Martos</title>

	<!-- CSS -->
	<link rel="stylesheet" href="css/styles.css">
	<link id="theme" rel="stylesheet" href="css/orange.css">
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	
	<!-- jQuery UI -->
	<link rel="stylesheet" href="js/jquery-ui/jquery-ui.min.css">
	<link rel="stylesheet" href="js/jquery-ui/jquery-ui.structure.min.css">
	<link rel="stylesheet" href="js/jquery-ui/jquery-ui.theme.min.css">
	<script type="text/javascript" src="js/jquery-ui/jquery-ui.min.js"></script>
  	<!-- My Scripts -->
  	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
	<div id="selector-theme">
		<button id="to-orange"></button>
		<button id="to-green"></button>
		<button id="to-blue"></button>
	</div>
	<section id="global">
		<header>
			<div id="logo">
				<h1>Proyecto Js</h1>
			</div>
			<div class="clearfix"></div>
			<nav id="menu">
				<ul>
					<li><a href="{{ path_for('home')}}">Inicio</a></li>
					<li><a href="{{ path_for('reloj')}}">Reloj</a></li>
					<li><a href="{{ path_for('about')}}">Sobre mi</a></li>
					<li><a href="{{ path_for('contact')}}">Contacto</a></li>
				</ul>
			</nav>
		</header>

		<section id="content">
			<div id="box">
			<h2>Sobre Mi</h2>
				<div id="accordion">
				  <h3>Section 1</h3>
				  <div>
				    <p>
				    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
				    ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
				    amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
				    odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
				    </p>
				  </div>
				  <h3>Section 2</h3>
				  <div>
				    <p>
				    Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
				    purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
				    velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
				    suscipit faucibus urna.
				    </p>
				  </div>
				  <h3>Section 3</h3>
				  <div>
				    <p>
				    Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
				    Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
				    ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
				    lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
				    </p>
				    <ul>
				      <li>List item one</li>
				      <li>List item two</li>
				      <li>List item three</li>
				    </ul>
				  </div>
				  <h3>Section 4</h3>
				  <div>
				    <p>
				    Cras dictum. Pellentesque habitant morbi tristique senectus et netus
				    et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
				    faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
				    mauris vel est.
				    </p>
				    <p>
				    Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
				    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
				    inceptos himenaeos.
				    </p>
				  </div>
				</div>			
			</div>
			
			<aside id="sidebar">
				<div id="about">
					<h4>¿Quien soy?</h4>
					<img src="img/avatar.png" alt="">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis blandit ipsum dictum placerat tristique. Mauris bibendum arcu at iaculis placerat. Morbi dapibus, libero vel mattis venenatis, nunc arcu molestie diam, ac pharetra nibh purus et turpis. Integer sagittis arcu felis, vitae congue quam scelerisque in. Nullam a risus sit amet tortor condimentum ultrices nec non urna.</p>
				</div>
				<div id="login">
					<h4>Identificate</h4>
					<form action="">
						<label for="name">Nombre:</label>
						<input type="text" name="name" id="name">
						<label for="email">Correo:</label>
						<input type="email" name="email">
						<label for="name">Contraseña:</label>
						<input type="password" name="password">
						<input type="submit" value="Entrar">
					</form>
				</div>
			</aside>
			<div class="clearfix"></div>
		</section>
	</section>
	<footer>
		David Ignacio Martos &copy
		<a href="#" class="top">Go top</a>
	</footer>
</body>
</html>